.CustomerFormsHolder {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f6f6f6;
}

.CustomerFormsHolder .dashboard-menu {
    width: 20%;
    text-align: center;
    height: 100vh;
}

.CustomerFormsHolder .dashboard-menu .button-menu {
    text-align: center;
    /* border: 2px solid #D17A52; */
    border-radius: 8px;
    width: 75%;
    padding: 5%;
    margin-bottom: 3%;
    background-color: #fff;
    display: flex;
    align-items: center;


}

.CustomerFormsHolder .dashboard-menu .button-menu img {
    width: 100%;
    height: 100%;
}

.button-menu a {
    text-decoration: none;
    color: inherit;
    width: 77%;
}

.CustomerFormsHolder .dashboard-menu .flex-column {

    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

@media(max-width:1250px) {
    .CustomerFormsHolder .dashboard-menu h6 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .CustomerFormsHolder .dashboard-menu {
        width: 28%;
    }

    .button-menu a {
        font-size: 15px;
    }

}

@media(max-width:1150px) {

    .CustomerFormsHolder .dashboard-menu .button-menu img {
        width: 85%;

    }

    .button-menu a {
        display: none;
    }
}

@media(max-width:800px) {



    .button-menu a {
        font-size: 12px;
    }
}