.CustomerFormsHolder {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f6f6f6;
}

.CustomerFormsHolder .dashboard-menu {
    width: 20%;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #FFFFFF, #F6F6F6);
}

.w-75 {
    width: 75% !important;
}

.CustomerFormsHolder a.nav-link .active {
    background-color: inherit;


}

a.nav-link.active {
    background-color: inherit !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: none !important;
}



.CustomerFormsHolder .dashboard-menu .button-menu {
    text-align: center;
    /* border: 2px solid #D17A52; */
    border-radius: 8px;
    width: 75%;
    padding: 5%;
    margin-bottom: 3%;

    display: flex;
    align-items: center;
    transition: all 0.5s;

}

.CustomerFormsHolder .dashboard-menu .button-menu img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);

}

.CustomerFormsHolder .dashboard-menu .button-menu .title-imge {
    width: 62% !important;
}

.button-menu a {
    text-decoration: none;
    color: inherit;
    width: 77%;
    font-weight: bold;
    font-size: 12px;

}

.CustomerFormsHolder .dashboard-menu .flex-column {

    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.back-image-dash {
    background-image: url('../../../public/Images/Dahboard/draw.png');
    background-repeat: no-repeat;
    background-position-x: 6%;
    background-position-y: 16%;
}

.nav-pills {

    --bs-nav-pills-link-active-color: inherit !important;

}

.col-sm-3 {
    width: 100%;
}

@media(max-width:1600px) {
    .button-menu a {

        font-weight: 600;
        font-size: 11px;

    }
}

@media(max-width:1350px) {
    .CustomerFormsHolder-all {
        display: none;
    }

    .CustomerFormsHolder .dashboard-menu {
        width: 28%;
    }

}

@media(max-width:1250px) {
    .CustomerFormsHolder .dashboard-menu h6 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .CustomerFormsHolder .dashboard-menu {
        width: 28%;
    }

    .button-menu a {
        font-size: 15px;
    }

}

@media(max-width:1150px) {

    .CustomerFormsHolder .dashboard-menu .button-menu img {
        width: 85%;

    }

    .button-menu a {
        display: none;
    }
}

@media(max-width:800px) {



    .button-menu a {
        font-size: 12px;
    }
}