.buttons-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.myhopy {
    width: 206px;
    border: none;
    height: 48px;
    background: #332C32;
    color: #D17A52;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    /* padding: 2px 29px; */
    font-size: 17px;
    font-family: 'Cairo', sans-serif;

}

.myhopy span {
    margin-right: 7px;
    font-family: 'Cairo', sans-serif;
}

.Btn {
    width: 240px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;


}

.leftContainer {
    width: 204px;
    height: 100%;
    background-color: #D17A52;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: none;
}

.leftContainer .like {
    color: white;
    font-weight: 600;
    font-family: 'Cairo', sans-serif;
}

.likeCount {
    width: 77px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid .25px #D17A52;
    font-weight: 600;
    position: relative;
    background-color: white;
    border-left: none;
}





.Btn:active .leftContainer svg {
    transform: scale(1.15);
    transform-origin: top;
}