.title-filter {
    margin-right: 0.1rem !important;
}

.dropdown-menu.show {
    border: none;
    box-shadow: 0px 3px 6px #D17A5247;
    transition: all 1s;

}

.dropdown-item.active,
.dropdown-item:active {
    background: rgb(209, 122, 82);
}

#dropdown-variants-transparent {
    border: none;
}




.button-showfilter:hover {
    opacity: 0.5;
}


/* @media (max-width:750px) {

    .position-sticky {
        width: 100% !important;
    }

} */