.product-size {
    width: 100%;
    margin-top: 20px;
}

.chose-size {
    font-size: 20px;
    font-weight: bold;
    text-align: end;
}

.size-available {
    display: flex;

    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 80%;
}

.size-available p {
    border: solid .1px #ebe5e5;
    width: 13%;
    border-radius: 5px;
    margin: 5px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}

.size-available p:hover {
    color: #D17A52;
    background: #332C32;
}

.parent-size {
    display: flex;
    justify-content: end;
}