.single-product-holder {
    font-size: 2.25em !important;
    font-weight: bold !important;
}


.product-card p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.4em !important;
}

.size-holder {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}


.single-cors-holder {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2em;
}

.single-cors-code {
    font-size: 1.75em;
    font-weight: bolder;
}

.single-cors-rating {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.single-sizes {

    border: 1px solid #CCCCCC;
    background-color: #fff;

    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer;
    text-align: center;

    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;

    font-size: 1.25em;

    font-weight: bold;

    width: 75px;
    height: auto;
}

.active-size {
    background-color: #323232;
    color: #D17A52 !important;

}

@media(max-width:1024px) {
    .image-holder-content {
        width: 100% !important;
    }

    .detail-content {
        background-color: transparent;
        text-align: right;
        border: none;
        width: 84% !important;

        margin: auto !important;

    }

    .image-color {
        width: 70px !important;
        height: 70px !important;
    }

    .image-color img {
        width: 70px !important;
        height: 70px !important;
        padding-bottom: 8% !important;
    }

}

.single-cors-holder h6 {

    color: #707070;
    font-weight: 600 !important;
}


@media(max-width:750px) {
    .single-product-holder {
        font-size: 19px !important;
    }

    .detail-content {
        width: 100% !important;
        background-color: #fff;
    }

    .single-cors-holder h6 {
        font-size: 14px;
        font-weight: 600 !important;
        color: #707070;
    }

    .card-body {
        background-color: #fff !important;
    }

    .single-sizes {
        width: 50px;
    }

    .css-ryrseu-MuiRating-root {
        font-size: 16PX !important;
    }
}