.color-product-holder p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.6em !important;
}



.color-image-holder {
    display: flex;
    flex-direction: row;
    /* padding: 0.2em; */
    justify-content: flex-end;
    margin-bottom: 1.5em;
}

.color-image-holder div {
    margin-left: 4%;
}