.Foooter-mobile {
    background-color: #332C32;
    color: white;
    display: none;
}

body {
    margin: 0;
}

.Foooter-mobile .box1 {
    width: 65%;
    margin: auto;
    font-family: 'Cairo', sans-serif;

}

.Foooter-mobile .box1 h4 {
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.Foooter-mobile .box1 .catoegry-footer .name-cateogry {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Foooter-mobile .box1 .catoegry-footer p {
    display: block;
    margin-bottom: 8px;
}

.Foooter-mobile .paypart1-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 7%;
}

.paypart1-mobile img {
    margin-left: 10px;
}

.Foooter-mobile .flex2-part1mobile h4 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    margin: 0;
}

.Foooter-mobile .flex2-part1mobile .input-emailmobile {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.Foooter-mobile .flex2-part1mobile .input-emailmobile input {
    width: 75%;
    border-radius: 5px;
    padding: 1%;
    font-family: 'Cairo', sans-serif;
}

.Foooter-mobile .flex2-part1mobile .input-emailmobile img {
    position: absolute;
    right: 80%;
    top: 23%;
    height: 54%;
}

.Foooter-mobile .map-mobile {
    padding-top: 2%;
}

.Foooter-mobile .map-mobile .map {

    margin: auto;
    display: flex;
    justify-content: center;
}

.Foooter-mobile .map-mobile .map iframe {
    width: 75%;
    border-radius: 5px;
}

.Foooter-mobile .content-social {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Foooter-mobile .frada-log {
    width: 100%;
}

.Foooter-mobile hr {
    margin: 0.5rem;
    color: #707070;
}

.Foooter-mobile .frada-log img {
    width: 100%;
}

.end-footermobile p {
    text-align: center;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
}

.end-footermobile {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-textmobile h4 {
    padding-top: '8%';

    font-Size: '25px';
}

@media(max-width:1200px) {
    .Foooter-mobile {
        display: block;
    }
}

@media(max-width:600px) {
    .Foooter-mobile .flex2-part1mobile .input-emailmobile input {
        font-size: 10px;
    }
}

@media(max-width:550px) {
    .Foooter-mobile h4 {
        font-size: 12px;
    }



    .Foooter-mobile p {
        font-size: 13px;
    }

    .social-media {
        height: 26px;
    }

    .paypart1-mobile img {
        width: 10%;
    }

    .Foooter-mobile .frada-log img {
        height: 130px;
    }

}

@media(max-width:450px) {
    .Foooter-mobile .flex2-part1mobile .input-emailmobile input {
        font-size: 8px;
    }

    .footer-textmobile h4 {
        font-size: 17px;
    }

    .Foooter-mobile .box1 h4 {
        font-size: 17px;
    }

    .Foooter-mobile .flex2-part1mobile h4 {
        font-size: 17px;
    }

}

@media(max-width:400px) {
    .Foooter-mobile .box1 {
        width: 80%;
    }

    .Foooter-mobile .frada-log img {
        height: 100px;
    }

    .social-media {
        height: 22px;
        margin: 0;
    }
}

@media(max-width:350px) {
    .Foooter-mobile .flex2-part1mobile .input-emailmobile input {
        font-size: 6px;
    }
}