/*************************************/
.footer-frada {
    background: #332C32;

}

.footer-frada .container-footer {
    width: 95%;
    margin: auto;
}

.footer-frada .footer-cont .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-frada .footer-cont .footer-flex .footer-par1 {
    width: 32%;
}

.footer-frada .footer-cont .footer-flex .footer-par1 .map {
    padding-top: 43px;
}

.footer-frada .footer-cont .footer-flex .footer-par1 .map iframe {
    border-radius: 5px;
}

.footer-frada .footer-cont .footer-flex .footer-par2 {
    width: 32%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 152px;
}


.footer-frada .footer-cont .footer-flex .logo-footer {
    width: 19%;
    margin-bottom: 37px;

}

.footer-frada .footer-cont .footer-flex .logo-footer .frada-log {
    width: 100%;
}

.footer-frada .footer-cont .footer-flex .logo-footer .frada-log Image {
    width: 100%;
}

.social-media {
    padding-top: 11px;
    /* padding-right: 19px; */
    margin-right: 5px;

    height: 40px;
}

.footer-frada .footer-cont .footer-flex .footer-par2 .seprate-footer {
    width: 2px;
    background: white;
}

.footer-frada .footer-cont .footer-flex .footer-par3 {
    width: 32%;
}


.flex2-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.flex2-footer .flex2-part1 {
    width: 48%;
}

.flex2-footer .flex2-part1 h3 {
    text-align: justify;
    color: white;
    padding-bottom: 7px;
}

.flex2-footer .flex2-part1 .input-email {
    width: 70%;
    position: relative;
}

.flex2-footer .flex2-part1 .input-email input {
    width: 90%;
    padding: 11px 22px;
    border: none;
    border-radius: 9px;
}

.flex2-footer .flex2-part1 .input-email img {
    position: absolute;
    top: 15%;
    right: 87%;
}

.flex2-footer .pay img {
    margin-right: 7px;
}

.end-footer {
    padding-top: 30px;
}

.end-footer .seprate-end {
    width: 100%;
    height: 2px;
    background: #F2F2F2;
}

.end-footer h3 {
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.footer-mobile {
    display: none;
}

.parentfooter-par2 {
    color: white;
    font-family: 'Cairo', sans-serif;
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.parentfooter-par2 .catoegry-footer .name-cateogry {
    display: flex;
    justify-content: space-between;



}

.parentfooter-par2 hr {

    transform: rotate(0deg);
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    opacity: 1;
}

.parentfooter-par2 .catoegry-footer .name-cateogry p {

    padding-right: 5px;
    font-size: 12px;

}

.know {
    margin-block-end: 0;
}

.parentfooter-par2 .catoegry-footer .name-cateogry .p2 {
    display: flex;
    justify-content: stretch;
    width: 45%;
    padding-right: 5px;
    font-size: 12px;
}

.parentfooter-par2 .footer-text {

    padding-right: 10px;
    width: 48%;
}

.footer-text .title-footertext {
    display: flex;
    justify-content: space-between;
}

.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}



.socialdisk .content-social {
    width: 100%;
    margin: auto;
}

@media(max-width:1400px) {
    .parentfooter-par2 .catoegry-footer .name-cateogry p {


        font-size: 10px;

    }

    .parentfooter-par2 .catoegry-footer .name-cateogry .p2 {

        font-size: 10px;
    }

    .footer-frada .footer-cont .footer-flex .footer-par1 .map iframe {
        height: 260px;
    }

    .parentfooter-par2 {
        width: 48%;
    }

    .parentfooter-par2 h4 {
        font-size: 16px;
    }
}

@media(max-width:1200px) {


    .footer-frada .footer-cont .footer-flex .footer-par1 .map iframe {
        height: 220px;

    }

    .parentfooter-par2 {
        width: 100%;
    }
}

@media(max-width:1050px) {
    .footer-frada {
        display: none;
    }
}