/*************************************/
.footer-frada {
    background: #332C32;

}

*,
::after,
::before {
    box-sizing: content-box;
}

.footer-frada {
    box-sizing: unset;
}

.footer-frada .container-footer {
    width: 95%;
    margin: auto;
}

.footer-frada .footer-cont .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-frada .footer-cont .footer-flex .footer-par1 {
    width: 32%;
}

.footer-frada .footer-cont .footer-flex .footer-par1 .map {
    padding-top: 43px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.footer-frada .footer-cont .footer-flex .footer-par1 .map iframe {
    border-radius: 5px;
}

.footer-frada .footer-cont .footer-flex .footer-par2 {
    width: 32%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 152px;
}


.footer-frada .footer-cont .footer-flex .logo-footer {
    width: 19%;
    margin-bottom: 37px;

}

.footer-frada .footer-cont .footer-flex .logo-footer .frada-log {
    width: 100%;
}

.footer-frada .footer-cont .footer-flex .logo-footer .frada-log:hover {
    filter: contrast(0);
}

.footer-frada .footer-cont .footer-flex .logo-footer .frada-log Image {
    width: 100%;
}

.social-media {
    padding-top: 11px;
    /* padding-right: 19px; */
    margin-right: 5px;

    height: 40px;
}

.social-media img {
    height: auto;
    width: auto;
}

.footer-frada .footer-cont .footer-flex .footer-par2 .seprate-footer {
    width: 2px;
    background: white;
}

.footer-frada .footer-cont .footer-flex .footer-par3 {
    width: 32%;
}


.flex2-footer {
    display: flex;
    justify-content: space-between;


}

.flex2-footer .flex2-part1 {
    width: 48%;
}

.flex2-footer .flex2-part1 h3 {
    text-align: justify;
    color: white;
    padding-bottom: 7px;
    margin-block-start: 0;
    margin: 0;
    font-size: 20px;
}

.flex2-footer .flex2-part1 .input-email {
    width: 70%;
    position: relative;
}

.footer-text h4 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.flex2-footer .flex2-part1 .input-email input {
    width: 58%;
    padding: 11px 22px;
    border: none;
    border-radius: 9px;
    font-family: 'Cairo', sans-serif;
    font-size: 12px;

}

.flex2-footer .flex2-part1 .input-email img {
    position: absolute;
    top: 15%;
    /* right: 54%; */
    margin-right: -43px;
    width: auto;
    height: auto;

}

.flex2-footer .pay img {
    margin-right: 7px;
    width: auto;
    height: auto;
}

.end-footer {
    padding-top: 30px;
}

.end-footer .seprate-end {
    width: 100%;
    height: 2px;
    background: #707070;
}

.end-footer h3 {
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 16px;
}



.footer-mobile {
    display: none;
}

.parentfooter-par2 {
    color: white;
    /* font-family: 'Cairo', sans-serif; */
    width: 42%;
    display: flex;
    justify-content: space-between;
    position: relative;

}




.parentfooter-par2 .catoegry-footer .name-cateogry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.parentfooter-par2 hr {

    transform: rotate(0deg);
    height: 165px;
    color: white;
    display: flex;
    justify-content: center;
    opacity: 1;
    border: revert-layer;
    position: absolute;
    right: 47%;
}

.parentfooter-par2 .catoegry-footer .name-cateogry p {

    padding-right: 5px !important;
    font-size: 14px !important;
    margin-block-end: 0 !important;
    margin-block-start: 0;
}

.parentfooter-par2 .catoegry-footer .name-cateogry p:hover {
    filter: contrast(0.5);
}

.know {
    margin-block-end: 0;
    margin: 0;
}

.parentfooter-par2 .catoegry-footer .name-cateogry .p2 {
    display: flex;
    justify-content: stretch;
    width: 55%;
    padding-right: 5px;
    font-size: 13px !important;
}

.parentfooter-par2 .footer-text {

    padding-right: 24px;
    width: 48%;
}

.footer-text .title-footertext {
    display: flex;
    justify-content: space-between;
}

.pay {
    display: flex;
    justify-content: center;
    width: 27%;

}



.socialdisk .content-social {
    width: 100%;
    margin: auto;
    margin-block-start: 0;
}

@media(max-width:1700px) {
    .flex2-footer .flex2-part1 .input-email input {
        font-size: 11px;
    }
}

@media(max-width:1400px) {
    .parentfooter-par2 .catoegry-footer .name-cateogry p {


        font-size: 12px;

    }

    .parentfooter-par2 .catoegry-footer .name-cateogry .p2 {
        font-size: 12px !important;
    }

    .flex2-footer .flex2-part1 .input-email input {
        font-size: 9px;
    }

}



.parentfooter-par2 {
    width: 48%;
}

.parentfooter-par2 h4 {
    font-size: 20px;
    margin-bottom: 12px;
}







@media(max-width:1200px) {


    .footer-frada .footer-cont .footer-flex .footer-par1 .map iframe {
        height: 220px;

    }

    .parentfooter-par2 {
        width: 100%;
    }

    .footer-frada {
        display: none;
    }
}

@media(max-width:750px) {
    .social-media {
        padding: 0;
    }
}