.images-holder {
    display: flex;
    flex-direction: row;
}

.subimage-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;

}

.mainimage-holder {}

.subimage-holder img {
    padding: 2%;
}