.pragraph .paragraph-cont {
    width: 90%;
    margin: auto;
    padding-top: 4%;
    position: relative;
    font-family: 'Cairo', sans-serif;
}

.pragraph .paragraph-cont .paragraph-header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 13px;
    width: max-content;
    margin: auto;
    margin-top: 1%;
    z-index: 999999;
    position: relative;
    padding-top: 1%;
    margin-bottom: -2%;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

.pragraph .paragraph-cont .paragraph-header h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #D17A52;
}

.pragraph .paragraph-cont .paragraph-header p {
    text-align: center;
}

.pragraph .paragraph-cont .paragraph-border {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #D17A52;
    border-radius: 8px;
}


.pragraph .box-para {
    padding: 4%;
}

.pragraph .paragrapharabic p {
    direction: rtl;
    text-align: justify
}

.pragraph .paragraph-cont .paragraph-border .paragrapharabic {
    margin-bottom: 20px;
    text-align: end;

    color: #D17A52;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
}

.pragraph .paragraph-cont .paragraph-border .paragraphenglish {
    text-align: left;

    font-family: 'Cairo', sans-serif;
    font-size: 25px;
}

@media(max-width:1640px) {
    .pragraph .paragraph-cont .paragraph-border .paragraphenglish {

        font-size: 21px;
    }

    .pragraph .paragraph-cont .paragraph-border .paragrapharabic {

        font-size: 21px;
    }


}

@media(max-width:1400px) {
    .pragraph .paragraph-cont .paragraph-border .paragraphenglish {

        font-size: 18px;
    }

    .pragraph .paragraph-cont .paragraph-border .paragrapharabic {

        font-size: 17px;
    }

    .pragraph .paragraph-cont .paragraph-header p {
        font-size: 13px;
    }


}

@media(max-width:750px) {
    .pragraph .paragraph-cont .paragraph-header h3 {

        font-size: 17px;

    }

    .pragraph .paragraph-cont .paragraph-header {
        padding: 2%;
    }
}

@media(max-width:570px) {
    .pragraph .paragraph-cont .paragraph-header h3 {

        font-size: 14px;

    }

    .pragraph .paragraph-cont .paragraph-header p {
        font-size: 10px;
    }
}

@media(max-width:390px) {
    .pragraph .paragraph-cont .paragraph-header h3 {

        font-size: 11px;

    }

    .pragraph .paragraph-cont .paragraph-header p {
        font-size: 8px;
    }
}