.row-cols-md-5>* {


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100% !important;
    justify-content: flex-end;
}

.size-filter .col {
    /* flex: 1 0; */
    width: 25%;
    flex: none !important;
}

.sizes.selected {
    background-color: #332C32;

    color: #D17A52;

}

@media(max-width:750px) {
    .size-filter .col {
        /* flex: 1 0; */
        width: 20%;
        flex: none !important;
    }

}